body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.post-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #000000;
    color: white;
    cursor: pointer;
}